[user]
	name   = Andrey Ivanov
	email  = ivnv.xd@gmail.com
[github]
	user   = ivnvxd
[alias]
	a      = add
	ca     = commit -a
	cam    = commit -am
	cm     = commit -m
	s      = status
	p      = push
	pom    = push origin master
	puom   = pull origin master
	cob    = checkout -b
	co     = checkout
	fp     = fetch --prune --all
	l      = log --oneline --decorate --graph
	lall   = log --oneline --decorate --graph --all
	ls     = log --oneline --decorate --graph --stat
	lt     = log --graph --decorate --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset'
[color]
	ui = auto
[core]
	excludesfile = /Users/ve/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
